/*****************************************************************************
 * Footer
 *****************************************************************************/
.footer-main {
	letter-spacing: 0;
	margin-bottom: 16%;
	.scaffold-WidgetTitle {
		font-weight: bold;
		margin: 0 0 10px 0;
	}
	.footer-cols {
		border: solid $brand-neutral 1px;
		border-right: 0;
		border-left: 0;
	    margin: 60px 0 0;
	    padding: 60px 0;
		.footer-col {
			width: 20%;
			float: left;
			padding-right: 5%;
			padding-top: 5%;
			&.col-1 {
				width: 30%;
				padding-right: 10%;
				padding-top: 0;
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding: 0 0 8px 0;
			}
			a {
				text-decoration: none;
				color: $brand-black;
				&:hover {
					color: $brand-primary;
				}
			}
		}
		.fa {
			font-size: 42px;
		}
	}
}
.footer-copyright {
    text-align: left;
    font-size: 12px;
    line-height: 150%;
    p {
    	margin: 10px 0;
    }
    a {
    	color: $brand-black;
    	&:hover {
    		text-decoration: none;
    	}
    }
}
a.scaffold-back-to-top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	color: $brand-white;
	background-color: $brand-primary;
	font-size: 36px;
	padding: 0 10px;
	border-radius: 8px;
	text-decoration: none;
	line-height: 40px;
	border: solid $brand-white 3px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	&:hover {
		background-color: $brand-highlight;
	}
}
.below-fold a.scaffold-back-to-top  {
	opacity: 1;
}
@media screen and (max-width: $screen-large) {
	.footer-main {
		.page-wrap {
			max-width: $screen-tablet;
		}
		.footer-cols {
			padding: 0;
			.footer-col,
			.footer-col.col-1
			{
				width: 50%;
				padding: 0 20px;
				margin: 40px 0;
			}
			.footer-col.col-1 img {
				max-width: 240px !important;
				margin: 0 auto;
			}
			.footer-col.col-2 {
				padding-top: 40px;
			}
			.footer-col:nth-child(2n+1) {
				clear: left;
			}
			ul,
			.scaffold-WidgetTitle
			{
				max-width: 180px;
				margin: 0 auto;
			}
		}
	}
	.footer-copyright {
		text-align: center;
		margin-top: 20px;
	}
}
@media screen and (max-width: $screen-mobile) {
	.footer-main {
		.footer-cols {
			text-align: center;
			.footer-col {
				width: 100% !important;
				padding: 10px 0 !important;
				margin: 10px 0 !important;
			}
			.footer-col.col-1 img {
				max-width: 160px !important;
			}
			.footer-col.col-3 {
				margin-bottom: 0 !important;
				padding-bottom: 0 !important;
			}
			.footer-col.col-4 {
				margin-top: 0 !important;
				padding-top: 0 !important;
			}
		}
	}
	a.scaffold-back-to-top {
	    right: 10px;
	    bottom: 10px;
	    font-size: 32px;
	    padding: 0 8px;
	    line-height: 32px;
	    border-width: 2px;
	}
}