/*****************************************************************************
 * Header, Navigation
 *****************************************************************************/
header.main {
	@include scaffold_transition_default();
	color: $brand-black;
	background-color: transparentize($brand-white, 0.05);
	height: $nav-height;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0;
	.page-wrap {
		padding: 0 15px;
		> .scaffold-u-block {
			position: relative;
		}
	}
	.logo {
		@include scaffold_transition_default();
		position: absolute;
		left: 0px;
		top: 0px;
		display: block;
		width: auto;
		height: 100%;
		img {
			@include scaffold_transition_default();
			height: $nav-height-scrolled;
		}
	}
	@media screen and (max-width: $screen-large) {
		height: $nav-height-scrolled;
		.logo {
			height: $nav-height-scrolled;
		}
	}
}

.nav-header {
    float: right;
    width: 100%;
    text-align: right;
    li {
    	position: relative;
    	display: inline-block;
    	a {
				height: $nav-height;
				line-height: $nav-height;
				vertical-align: middle;
				display: inline-block;
				padding: 0 10px;
				text-transform: uppercase;
				color: $brand-black;
				text-decoration: none;
				font-size: 14px;
				letter-spacing: .2em;
				@include scaffold_transition_default();
    	}
    }
    li.menu-item-has-children > a {
			&:after {
				content: "\f107";
				font-family: "Font Awesome\ 5 Free";
				vertical-align: middle;
				margin-left: 4px;
				font-weight: bold;
			}
    }
    .sub-menu {
    	display: none;
	    position: absolute;
	    left: 10px;
	    top: $nav-height;
	    height: auto;
	    width: 175px;
	    text-align: left;
	    padding: 0;
	    background: $brand-white;
	    border: solid $brand-primary 1px;
	    -webkit-box-shadow: 0px 2px 4px transparentize($brand-black, 0.75);
	    box-shadow: 0px 2px 4px transparentize($brand-black, 0.75);
	    li {
	    	height: auto;
	    	display: block;
	    	a {
	    		height: auto;
	    		line-height: 125%;
			    font-size: 14px;
			    text-transform: uppercase;
			    width: 100%;
			    display: block;
			    border: 0;
			    white-space: nowrap;
			    padding: 8px;
			    font-weight: lighter;
			    letter-spacing: 0;
			    text-transform: none;
			    &:hover {
			    	background-color: $brand-primary;
			    	color: $brand-white;
			    }
	    	}
	    	&:hover {
	    		a {
	    			border: 0;
	    		}
	    	}
	    }
    }
    li:hover .sub-menu {
    	display: block;
    }
	@media screen and (max-width: $screen-large) {
		display: none;
	}
}

.header-spacer {
	display: block;
	height: $nav-height;
	@media screen and (max-width: $screen-grid-medium) {
		height: $nav-height-scrolled;
	}
}

body.admin-bar {
	header.main {
		top: $wp-adminbar-height;
		@media screen and (max-width: $wp-screen-mobile) {
			top: $wp-adminbar-height-mobile;
		}
	}
}

body.is-scrolled {
	header.main {
		height: $nav-height-scrolled;
		.logo img {
			height: $nav-height-scrolled;
		}
	}
	.nav-header {
		li a {
			height: $nav-height-scrolled;
			line-height: $nav-height-scrolled;
		}
	}
}