/*****************************************************************************
 * z-index control, centralized, override all
 *****************************************************************************/
#wpadminbar,
#wpadminbar .ab-sub-wrapper,
#wpadminbar ul,
#wpadminbar ul li
{
	z-index: 28000035;
}
.header-top {
	z-index: 28000015;
}
.drawer {
	z-index: 28000015;
}
.woocommerce-store-notice,
p.demo_store
{
	z-index: 28000025;
}
.mfp-bg,
.mfp-wrap
{
	z-index: 28000045 !important;
}