/*****************************************************************************
 * z-index control, centralized, override all
 *****************************************************************************/
#wpadminbar,
#wpadminbar .ab-sub-wrapper,
#wpadminbar ul,
#wpadminbar ul li
{
	z-index: 28000035;
}
header.main {
	z-index: 28000015;
}
.drawer-bg {
	z-index: 28000016;
}
.drawer,
.nav-drawer-menu ul.sub-menu
{
	z-index: 28000017;
}
