# Ignore everything in the root except the "wp-content" directory.
/*
!.htaccess
!.gitignore
!wp-content/
!README.md

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except custom plugins
wp-content/plugins/*
!wp-content/plugins/scaffold

# Ignore everything in the "themes" directory, except the custom themes
wp-content/themes/*
#wp-content/themes/scaffold/*
#!wp-content/themes/scaffold/ui/
#wp-content/themes/scaffold/ui/*
#!wp-content/themes/scaffold/ui/scss
!wp-content/themes/scaffold

# Ignore system dot files, cache dot files
.DS_Store
.sass-cache
Thumbs.db



