@charset "UTF-8";
/*!
 * SCSS Main file
 */
/*****************************************************************************
 * Variables for SCSS
 *****************************************************************************/
/**
 * Navigation element heights
 */
/*
 * Screen sizes breakpoints for media queries
 */
/*
 * Brand Colors
 */
/**
 * WordPress specific variables.
 * WordPress uses different breakpoints then our grid.
 */
/**
 * Transitions
 */
/*****************************************************************************
 * Fonts
 *****************************************************************************/
/*****************************************************************************
 * General theme styles
 *****************************************************************************/
/**
 * Utilities
 */
.scaffold-u-block {
  width: 100%;
  display: block;
  clear: both;
  box-sizing: border-box;
}
.scaffold-u-block:after {
  content: "";
  display: table;
  clear: both;
}

.scaffold-u-clearfix {
  content: "";
  display: table;
  clear: both;
}

.page-wrap {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/*****************************************************************************
 * Forms
 *****************************************************************************/
/*****************************************************************************
 * Header, Navigation
 *****************************************************************************/
#wpadminbar {
  position: fixed;
}

.header-top {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #000;
  /* border-bottom: solid $brand-black 5px; */
  background-color: rgba(255, 255, 255, 0.95);
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0;
}
.header-top .page-wrap {
  position: relative;
}
.header-top .logo {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: scale(1);
  -webkit-transform: scale(1);
  position: absolute;
  left: 0px;
  top: 5px;
  display: block;
  width: 120px;
  float: left;
}
.header-top .logo img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
  .header-top {
    height: 60px;
  }
  .header-top .logo {
    width: 70px;
    top: 0px;
    left: 10px;
  }
  .header-top .page-wrap {
    padding: 0;
  }
}

.nav-header {
  float: right;
  width: 100%;
  text-align: right;
}
.nav-header li {
  position: relative;
  height: 100px;
  display: inline-block;
}
.nav-header li a {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.2em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.nav-header li.menu-item-has-children > a:after {
  content: "";
  font-family: FontAwesome;
  opacity: 0.35;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}
.nav-header .sub-menu {
  display: none;
  position: absolute;
  left: 10px;
  top: 100px;
  height: auto;
  width: 175px;
  text-align: left;
  padding: 0;
  background: #fff;
  border: solid #f00 1px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.nav-header .sub-menu li {
  height: auto;
  display: block;
}
.nav-header .sub-menu li a {
  height: auto;
  line-height: 125%;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  display: block;
  border: 0;
  white-space: nowrap;
  padding: 8px;
  font-weight: lighter;
  letter-spacing: 0;
  text-transform: none;
}
.nav-header .sub-menu li a:hover {
  background-color: #f00;
  color: #fff;
}
.nav-header .sub-menu li:hover a {
  border: 0;
}
.nav-header li:hover .sub-menu {
  display: block;
}
@media screen and (max-width: 992px) {
  .nav-header {
    display: none;
  }
}

.header-spacer {
  display: block;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .header-spacer {
    height: 60px;
  }
}

body.admin-bar header.main {
  top: 32px;
}
@media screen and (max-width: 782px) {
  body.admin-bar header.main {
    top: 46px;
  }
}

body.is-scrolled header.main .logo {
  width: auto;
  height: 60px;
}

/*****************************************************************************
 * Footer
 *****************************************************************************/
/*****************************************************************************
 * Drawer / Hamburger mobile menu
 *****************************************************************************/
/* Drawer control */
.drawer-trigger {
  display: none;
  float: right;
  width: 60px;
  height: 60px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .drawer-trigger {
    display: block;
  }
}

.drawer-button {
  display: block;
  position: absolute;
  top: -5px;
  left: 0px;
  height: 100%;
  width: 100%;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.drawer-button:focus, .drawer-button:active, .drawer-button:hover {
  text-decoration: none;
}
.drawer-button .drawer-button-closed {
  display: table-cell;
}
.drawer-button .drawer-button-opened {
  display: none;
}

.drawer-open .drawer-button .drawer-button-closed {
  display: none;
}
.drawer-open .drawer-button .drawer-button-opened {
  display: table-cell;
}

.drawer-button-align {
  display: table;
  width: 100%;
  height: 100%;
}
.drawer-button-align .drawer-button-opened,
.drawer-button-align .drawer-button-closed {
  width: 100%;
  vertical-align: middle;
}

/* Drawer menu */
.drawer {
  -webkit-transition: 0.3s transform ease;
  transition: 0.3s transform ease;
  -webkit-transform: translate3d(100%, 0px, 0px);
  transform: translate3d(100%, 0px, 0px);
  display: block;
  box-sizing: border-box;
  position: fixed;
  z-index: 28000004;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}
.drawer.is-submenu-open {
  overflow-y: scroll;
}

.drawer-open .drawer {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.drawer-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/*
html.drawer-open {
	margin-top: 0 !important;
}*/
.nav-drawer-menu {
  padding-bottom: 0;
  font-weight: bold;
}
.nav-drawer-menu ul {
  width: 100%;
  float: left;
  clear: both;
}
.nav-drawer-menu ul.sub-menu {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  transform: translate3d(100%, 0px, 0px);
  -webkit-transform: translate3d(100%, 0px, 0px);
  margin: 0;
  padding: 0;
}
.nav-drawer-menu ul.sub-menu.is-open {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.nav-drawer-menu li {
  width: 100%;
  float: left;
  display: block;
  clear: both;
  margin: 0;
  padding: 0;
}
.nav-drawer-menu a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  display: block;
  line-height: 200%;
  border-bottom: solid #555555 1px;
  padding: 8px 10px;
}
.nav-drawer-menu h4,
.nav-drawer-menu .nolink > a {
  color: #f00;
  font-size: 24px;
  line-height: 150%;
  border-bottom: solid #f00 1px;
  font-weight: bold;
}
.nav-drawer-menu li.menu-item-back a {
  text-transform: uppercase;
  font-weight: lighter;
}

.nav-drawer-menu > li:last-child a {
  border-bottom: 0;
}

/*****************************************************************************
 * z-index control, centralized, override all
 *****************************************************************************/
#wpadminbar,
#wpadminbar .ab-sub-wrapper,
#wpadminbar ul,
#wpadminbar ul li {
  z-index: 28000035;
}

.header-top {
  z-index: 28000015;
}

.drawer {
  z-index: 28000015;
}

.woocommerce-store-notice,
p.demo_store {
  z-index: 28000025;
}

.mfp-bg,
.mfp-wrap {
  z-index: 28000045 !important;
}

/*# sourceMappingURL=theme.css.map */
